<%- include('partials/header'); -%>

    <h1>Home</h1>
    <p>
        <%= homeStartingContent %>
    </p>
    <% POSTS.forEach(function(post){ %>
        <p><h1><%= (post.title) %></h1></p>
        <p><%= (post.content) %></p>
            <% }) %>
        

<%- include('partials/footer'); -%>