<%- include('partials/header'); -%>
    
    <h1>Home</h1>
    <p>
        <%= homeStartingContent %>
    </p>
    <% for(var i=0; i<POSTS.length; i++){ %>
        <!-- <p><%= POSTS[i].title %></p> -->
        <%= console.log(POSTS[i].title) %>
            <% } %>


<%- include('partials/footer'); -%>